# Dir navigation
alias ..="cd .."
alias ~="cd ~"
alias -- -="cd -"
alias ls='ls -la'
alias ll='ls -alF'
alias work='cd ~/Work/'
alias projects='cd ~/Projects/'
alias ij='open -a /Applications/IntelliJ\ IDEA.app'

# Utilities
# https://stackoverflow.com/questions/9869227/git-autocomplete-in-bash-aliases?answertab=active#tab-top
alias g="git"
__git_complete g __git_main

alias gpom="git push origin master"
alias grep='GREP_COLOR="1;37;45" LANG=C grep --color=auto'
alias h="history"
alias show='defaults write com.apple.finder AppleShowAllFiles -boolean true; killall Finder'
alias hide='defaults write com.apple.finder AppleShowAllFiles -boolean false; killall Finder'
alias serve='python -m SimpleHTTPServer 8000'

# git add keys, add keys for github and internal HMRC github
gak () {
  if [ -f ~/.ssh/id_rsa ]; then
     ssh-add ~/.ssh/id_rsa
  fi

  if [ -f ~/.ssh/id_rsa_hmrc ]; then
     ssh-add ~/.ssh/id_rsa_hmrc
  fi
}

# remove local branches that have not been remote merged
alias gpb='git branch -r --merged | grep -v "\*" | grep -v "master" | xargs -n 1 git branch -d'

